p {
    line-height: 1.5em;
} 
body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;
    height: 30%;
}
.post{
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
}
span{
    background-color: black;
 }
span:hover{
    background-color: grey;
}
  